<h3>{{ productId ? 'Edit' : 'Add' }} Product</h3>
<form (ngSubmit)="saveProduct()">
  <label>Name:</label>
  <input [(ngModel)]="product.name" name="name" required>
  
  <label>Price:</label>
  <input type="number" [(ngModel)]="product.price" name="price" required>

  <label>description:</label>
  <input [(ngModel)]="product.description" name="description" required>

  <label>stock:</label>
  <input type="number" [(ngModel)]="product.stock" name="stock" required>
  <label>Image:</label>
  <input type="file" (change)="onFileSelected($event)" />
  <label>category:</label>
  <input [(ngModel)]="product.category" name="category" required>
  <button type="submit">Save</button>
</form>
